*.DS_Store

build
build/*

.vscode/*
.vscode

executable_data

cude_version/build
cude_version/build/*

# Logs
logs
logs/*

OPTIMIZER_METRICS*
cude_version/OPTIMIZATION*
cude_version/my_kernel*
OPTIMIZATION*
my_kernel*
PROSPECTIVE_OPTIMIZATIONS*

.venv*
.claude
CLAUDE.md

